<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERRO 404</title>
</head>
<body>
    <p>erro 404</p> <br>
    <input action="action" type="button" value="Voltar" onclick="window.history.go(-1); return false;" /><br> <br>
    <a href="http://127.0.0.1:5000/calc/1/1/soma">Somar</a><br>
    <a href="http://127.0.0.1:5000/calc/2/1/subtracao">Subtrair</a><br>
    <a href="http://127.0.0.1:5000/calc/4/2/divisao">Dividir</a><br>
    <a href="http://127.0.0.1:5000/calc/3/3/multiplicacao">Multiplicar</a><br>
</body>
</html>